[Unit]
Description=Run voicemail processing every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=vmail-process.service 

[Install]
WantedBy=timers.target
